<h1><%= @task.title %></h1>

<div class="check">
<% if @task.completed %>
  <input type="checkbox" value="" checked>
  <p>This task is completed</p>
<% else %>
  <input type="checkbox" value="">
  <p>This task is not completed</p>
</div>
<% end %>

<%= link_to 'Update task', edit_path %>

<%= link_to 'Back to list', tasks_path %>


